* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body styling

body {
    min-height: 100vh;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

// Header styling
header {
    nav {
        background-color: #24305E;
    }
}

// Main styling
main {
    .main-wrapper {
        max-width: 80vw;
        margin: 0 auto;

        .text-content {
            margin: 30px 0 30px 0;
        }

        .signup-block-wrapper {
            width: 600px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .signup-block {
                text-align: center;
                background-color: #A8D0E6;
                padding: 30px;
                border-radius: 15px;
                box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

                .form-title {
                    h1 {
                        margin-bottom: 30px;
                    }
                }

                form {
                    .form-row {
                        margin-bottom: 15px;

                        .form-field {
                            .form-control {
                                width: 80%;
                                margin: 0 auto;
                            }
                        }

                        &.upload {
                            // display: flex;
                            justify-content: center;
                            align-items: center;
                            

                            .img-preview {
                                img {
                                    height: 150px;
                                }
                            }

                            .upload-options {
                                .btn {
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Footer styling

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer-wrapper{
    .footer-bg {
        background-color: #24305E;

        .footer-content {
            padding-top: 20px;

            .copyright {
                text-align: center;
                color: #fff;
            }

            .footer-links {
                text-align: center;

                ul {
                    list-style-type: none;
                    display: inline-flex;
                    
                    li {
                        display: inline-flex;
                        color: #fff;
                        align-items: center;

                        .nav-link {
                            color: #fff;
                        }

                        &:not(:last-child):after {
                            content: "|"
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        transition: all 0.3s ease-in-out;

        &.collapse {
            display: block;
            opacity: 0;
            width: 0;
            height: 0;
        }

        &.active {
            opacity: 1;
            width: auto;
            height: 250px;
        }

        ul {
            &.navbar-nav {
                text-align: center;
            }
        }
    }
}