* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body styling

body {
    background-color: #f5f5f5;
    min-height: 100vh;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

// Header styling
header {
    nav {
        background-color: #24305E;
        .container-fluid {
            .navbar-brand {
                .brand-logo {
                    height: 50px;
                }
            }
        }
    }
}

// Main styling
main {
    .container {
        .text-content {
            margin: 30px 0 30px 0;
        }

        // Signup block styling
        .signup-block-wrapper {
            margin: 50px 0 50px 0;

            .signup-block {
                margin: 0 auto;
                text-align: center;
                background-color: #A8D0E6;
                padding: 30px;
                border-radius: 15px;
                box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

                &.login {
                    width: 650px;
                }

                &.customer {
                    width: 600px;
                }

                &.vendor, &.shipper {
                    width: 750px;

                    .form-flex {
                        .fields-section {
                            width: 50%;

                            .form-row {
                                .form-field {
                                    .dropdown {
                                        select {
                                            background-color: #FFF;
                                            width: 80%;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }


                .form-title {
                    h1 {
                        margin-bottom: 30px;
                    }

                    h2 {
                        margin-bottom: 20px;
                    }
                }

                form {
                    .form-flex {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 25px;
                    }

                    .form-row {
                        margin-bottom: 15px;

                        .form-label {
                            text-align: left;
                            margin-left: 10%;
                        }

                        .form-field {
                            .form-control {
                                width: 80%;
                                margin: 0 auto;
                            }
                        }

                        &.signin {
                            margin-top: 35px;
                        }

                        &.upload {
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 15px;

                            .img-preview {
                                img {
                                    height: 150px;
                                    margin: 20px 0 25px 0;
                                }
                            }

                            .upload-options {
                                display: flex;
                                justify-content: space-evenly;

                                .pic-upload {
                                    width: 70%;
                                }

                            }
                        }
                    }
                }
            }
        }

        // Account info styling
        .account-info-wrapper {
            display: flex;
            margin: 50px 0 50px 0;
            justify-content: space-evenly;
            
            .profile-pic-section {
                text-align: center;
                background-color: #A8D0E6;
                padding: 30px;
                border-radius: 15px;
                box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

                .img-preview {
                    margin: 30px 0 30px 0;

                    img {
                        height: 150px;
                    }
                }

                .profile-options {
                    .upload-options {
                        input {
                            margin-bottom: 20px;
                        }
                    }

                    .shipper {
                        margin-top: 20px;
                        text-align: left;
                    }
                }
                
            }

            .account-details-section {
                width: 60%;
                background-color: #A8D0E6;
                padding: 50px;
                border-radius: 15px;
                box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

                .account-details {
                    font-size: 24px;
                    line-height: 200%;   
                }

                &.shipper {
                    padding: 20px;

                    .active-order-listing {
                        .listing-title {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        
        .bg-wrapper {
            background-color: #A8D0E6;
            min-height: 90vh;

            // Add product styling
            .add-product {
                padding: 50px 0 50px 0;

                .form-title {
                    text-align: center;
                    margin-bottom: 30px;
                }

                form {
                    padding: 0 70px 0 70px;

                    .form-flex {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        margin-bottom: 50px;
                        
                        .upload-section {
                            .upload {
                                .img-preview {
                                    width: 500px;
                                    height: 450px;
                                    overflow: hidden;
                                    margin: 0 auto ;

                                    img {
                                        
                                    }
                                }
                            }

                            .upload-options {
                                display: flex;
                                justify-content: space-evenly;

                                input {
                                    width: 80%;
                                }
                            }
                        }

                        .fields-section {
                            margin-left: 35px;
                            
                            .form-row {
                                .form-field {
                                    margin-bottom: 20px ;
                                }
                            }
                        }
                    }

                    .confirm {
                        text-align: center;

                        button {
                            min-width: 250px;
                        }
                    }
                }
            }
            
            // Product listing styling
            .product-listing {
                padding: 50px 0 50px 0;

                .listing-title {
                    text-align: center;
                    margin-bottom: 30px;
                }

                .listing-grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-row-gap: 30px;

                    .product {
                        &.card {
                            max-width: 350px;
                            margin: 0 auto;
                        }
                    }
                }
            }

            // Product details styling
            .product-details {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 50px 0 50px 0;

                .img-section {
                    width: 500px;
                    height: 600px;
                    overflow: hidden;
                    margin: 0 auto ;

                    img {
                        
                    }
                }

                .details-section {
                    margin: 5px 35px 0px 20px;

                    .form-title {
                        margin-bottom: 20px;
                    }

                    .product-description {
                        min-height: 175px;
                        margin-bottom: 25px;
                    }

                    .product-price {
                        margin-bottom: 30px;
                    }

                    .product-options {
                        button {
                            min-width: 250px;
                        }
                    }
                }
            }
        }

        // Shopping cart styling
        .shopping-cart {
            padding: 50px 30px 20px 30px;
            
            h1 {
                margin-bottom: 30px;
            }

            .divider {
                width: 100%;
            }

            .column-labels, .product {
                display: grid;
                grid-template-columns: 250px auto 100px 120px 100px 100px;
                column-gap: 15px;
                text-align: center;

                .product-description {
                    text-align: left;
                }
            }

            .cart {
                padding: 10px 0 0 0;

                .product {
                    margin-bottom: 35px;

                    .product-image {
                        width: 250px;
                        height: 150px;
                        overflow: hidden;
                        margin: 0 auto ;

                        img {
                            width: 250px;
                        }
                    }
    
                    .product-info {
                        text-align: left;

                        .product-vendor {
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                    }

                    .product-quantity {
                        input {
                            width: 70%;
                            margin: 0 auto;
                        }
                    }

                    .product-line-price {
                        font-weight: 500;
                    }
                }
            }

            .total-sum {
                .total-price {
                    text-align: right;
                    margin: 0 20px 30px 0;

                    .total-value {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }

            .place-order {
                text-align: right;
            }
        }

        // Shipper active orders styling
        .active-order-listing {
            margin-top: 20px;

            .column-labels {
                margin-bottom: 15px;

                .orders {
                    text-align: left;
                }
            }

            .column-labels, .order {
                display: grid;
                grid-template-columns: 40% 15% 15% 30%;
                text-align: center;
            }

            .active-orders {
                a {
                    text-decoration: none;
                    color: #000;

                    &.order {
                        background-color: #f5f5f5;
                        padding: 10px;
                        margin-bottom: 10px;
                        border-radius: 3px;
                        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    
                        .title {
                            text-align: left;
                        }

                        .status {
                            color: green;
                        }
                    }

                    &:hover {
                        background-color: #F8E9A1;
                    }
                }
            }
        }
    }
}

// General and global elements styling
.divider {
    width: 80%;
    height: 20px;
    margin: 10px auto 20px auto;
    border-bottom: 1px solid #24305E;
}

.form-label {
    label {
        font-weight: bold;
    }
}

button {
    &.btn-form {
        background-color: #4258ad;
        color: #FFF;

        &:hover {
            background-color: #374785;
        }
    }
}

// Footer styling

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer-wrapper{
    .footer-bg {
        background-color: #24305E;

        .footer-content {
            padding-top: 20px;

            .copyright {
                text-align: center;
                color: #fff;
            }

            .footer-links {
                text-align: center;

                ul {
                    list-style-type: none;
                    display: inline-flex;
                    
                    li {
                        display: inline-flex;
                        color: #fff;
                        align-items: center;

                        .nav-link {
                            color: #fff;
                        }

                        &:not(:last-child):after {
                            content: "|"
                        }

                    }
                }
            }
        }
    }
}


// Mobile styling 
@media only screen and (max-width: 768px) {

    // Mobile header styling
    .navbar-collapse {
        transition: all 0.3s ease-in-out;

        &.collapse {
            display: block;
            opacity: 0;
            width: 0;
            height: 0;
        }

        &.active {
            opacity: 1;
            width: auto;
            height: 250px;
        }

        ul {
            &.navbar-nav {
                text-align: center;
            }
        }
    }

    // Mobile main styling
    main {
        .container {

            // Mobile signup block styling
            .signup-block-wrapper {
                .signup-block {
                    &.login, &.customer, &.vendor, &.shipper {
                        width: 100%;
                    }
                }
            }

            // Mobile account info styling
            .account-info-wrapper {
                display: block;

                .account-details-section {
                    width: 100%;
                    padding: 30px;

                    .account-details {
                        font-size: 18px;
                        line-height: normal;
                    }
                }
            }

            // Tablet product listing styling
            .bg-wrapper {
                .product-listing {
                    .listing-grid {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        grid-row-gap: 20px;
        
                        .product {
                            &.card {
                                max-width: 350px;
                            }
                        }
                    }
                }
                
                .product-details {
                    display: block;
                    height: auto;

                    .img-section {
                        width: 80%;
                        height: 300px;

                        img {
                            width: 100%;
                        }
                    }

                    .details-section {
                        .product-options {
                            text-align: center;
                        }
                    }
                }

                .shopping-cart {
                    .column-labels {
                        display: none;
                    }
    
                    .cart {
                        .product {
                            grid-template-columns: 30% 70%;
                            column-gap: 5px;

                            .product-image {
                                width: 100%;

                                img {
                                    max-width: 150px;
                                }
                            }
    
                            .product-quantity {
                                input {
                                    width: 50%;
                                }
                            }

                            .product-line-price {
                                align-self: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Tablet styling 
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    // Tablet main styling
    main {
        .container {

            // Tablet account info styling
            .account-info-wrapper {

                .account-details-section {
                    padding: 30px;

                    .account-details {
                        font-size: 20px;
                        line-height: normal;
                    }
                }
            }

            // Tablet product listing styling
            .bg-wrapper {
                .product-listing {
                    .listing-grid {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-row-gap: 20px;
        
                        .product {
                            &.card {
                                max-width: 350px;
                            }
                        }
                    }
                }

                .product-details {
                    display: block;
                    height: auto;

                    .img-section {
                        width: 80%;
                        height: 500px;

                        img {
                            max-width: 150px;
                        }
                    }

                    .details-section {
                        .product-options {
                            text-align: center;
                        }
                    }
                }
            }

            .shopping-cart {
                .column-labels {
                    display: none;
                }

                .cart {
                    .product {
                        grid-template-columns: 25% 55% 20%;

                        .product-image {
                            width: 100%;
                        }

                        .product-quantity {
                            input {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}