* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 50px;
}

header nav {
  background-color: #24305E;
}
header nav .container-fluid .navbar-brand .brand-logo {
  height: 50px;
}

main .container .text-content {
  margin: 30px 0 30px 0;
}
main .container .signup-block-wrapper {
  margin: 50px 0 50px 0;
}
main .container .signup-block-wrapper .signup-block {
  margin: 0 auto;
  text-align: center;
  background-color: #A8D0E6;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .container .signup-block-wrapper .signup-block.login {
  width: 650px;
}
main .container .signup-block-wrapper .signup-block.customer {
  width: 600px;
}
main .container .signup-block-wrapper .signup-block.vendor, main .container .signup-block-wrapper .signup-block.shipper {
  width: 750px;
}
main .container .signup-block-wrapper .signup-block.vendor .form-flex .fields-section, main .container .signup-block-wrapper .signup-block.shipper .form-flex .fields-section {
  width: 50%;
}
main .container .signup-block-wrapper .signup-block.vendor .form-flex .fields-section .form-row .form-field .dropdown select, main .container .signup-block-wrapper .signup-block.shipper .form-flex .fields-section .form-row .form-field .dropdown select {
  background-color: #FFF;
  width: 80%;
}
main .container .signup-block-wrapper .signup-block .form-title h1 {
  margin-bottom: 30px;
}
main .container .signup-block-wrapper .signup-block .form-title h2 {
  margin-bottom: 20px;
}
main .container .signup-block-wrapper .signup-block form .form-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
main .container .signup-block-wrapper .signup-block form .form-row {
  margin-bottom: 15px;
}
main .container .signup-block-wrapper .signup-block form .form-row .form-label label {
  font-weight: bold;
}
main .container .signup-block-wrapper .signup-block form .form-row .form-field .form-control {
  width: 80%;
  margin: 0 auto;
}
main .container .signup-block-wrapper .signup-block form .form-row .btn-form {
  background-color: #4258ad;
  color: #FFF;
}
main .container .signup-block-wrapper .signup-block form .form-row .btn-form:hover {
  background-color: #374785;
}
main .container .signup-block-wrapper .signup-block form .form-row.upload {
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
main .container .signup-block-wrapper .signup-block form .form-row.upload .img-preview img {
  height: 150px;
  margin: 20px 0 25px 0;
}
main .container .signup-block-wrapper .signup-block form .form-row.upload .upload-options {
  display: flex;
  justify-content: space-evenly;
}
main .container .signup-block-wrapper .signup-block form .form-row.upload .upload-options .pic-upload {
  width: 70%;
}
main .container .account-info-wrapper {
  display: flex;
  margin: 50px 0 50px 0;
  justify-content: space-evenly;
}
main .container .account-info-wrapper .profile-pic-section {
  text-align: center;
  background-color: #A8D0E6;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .container .account-info-wrapper .profile-pic-section .img-preview {
  margin: 30px 0 30px 0;
}
main .container .account-info-wrapper .profile-pic-section .img-preview img {
  height: 150px;
}
main .container .account-info-wrapper .profile-pic-section .profile-options .upload-options input {
  margin-bottom: 20px;
}
main .container .account-info-wrapper .profile-pic-section .profile-options .shipper {
  margin-top: 20px;
  text-align: left;
}
main .container .account-info-wrapper .account-details-section {
  width: 60%;
  background-color: #A8D0E6;
  padding: 50px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .container .account-info-wrapper .account-details-section .account-details {
  font-size: 24px;
  line-height: 200%;
}
main .container .account-info-wrapper .account-details-section.shipper .active-order-listing .listing-title {
  font-size: 20px;
}
main .container .product-listing-wrapper {
  margin: 50px 0 50px 0;
}
main .container .product-listing-wrapper .product-listing .listing-title {
  text-align: center;
  margin-bottom: 30px;
}
main .container .product-listing-wrapper .product-listing .listing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
main .container .product-listing-wrapper .product-listing .listing-grid .product.card {
  max-width: 350px;
  margin: 0 auto;
}

.divider {
  width: 80%;
  height: 20px;
  margin: 10px auto 20px auto;
  border-bottom: 1px solid #24305E;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer-wrapper .footer-bg {
  background-color: #24305E;
}
.footer-wrapper .footer-bg .footer-content {
  padding-top: 20px;
}
.footer-wrapper .footer-bg .footer-content .copyright {
  text-align: center;
  color: #fff;
}
.footer-wrapper .footer-bg .footer-content .footer-links {
  text-align: center;
}
.footer-wrapper .footer-bg .footer-content .footer-links ul {
  list-style-type: none;
  display: inline-flex;
}
.footer-wrapper .footer-bg .footer-content .footer-links ul li {
  display: inline-flex;
  color: #fff;
  align-items: center;
}
.footer-wrapper .footer-bg .footer-content .footer-links ul li .nav-link {
  color: #fff;
}
.footer-wrapper .footer-bg .footer-content .footer-links ul li:not(:last-child):after {
  content: "|";
}

@media only screen and (max-width: 768px) {
  .navbar-collapse {
    transition: all 0.3s ease-in-out;
  }
  .navbar-collapse.collapse {
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
  }
  .navbar-collapse.active {
    opacity: 1;
    width: auto;
    height: 250px;
  }
  .navbar-collapse ul.navbar-nav {
    text-align: center;
  }
  main .container .signup-block-wrapper .signup-block.login, main .container .signup-block-wrapper .signup-block.customer, main .container .signup-block-wrapper .signup-block.vendor, main .container .signup-block-wrapper .signup-block.shipper {
    width: 100%;
  }
  main .container .account-info-wrapper {
    display: block;
  }
  main .container .account-info-wrapper .account-details-section {
    width: 100%;
    padding: 30px;
  }
  main .container .account-info-wrapper .account-details-section .account-details {
    font-size: 18px;
    line-height: normal;
  }
  main .container .product-listing-wrapper .product-listing .listing-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  main .container .product-listing-wrapper .product-listing .listing-grid .product.card {
    max-width: 350px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  main .container .account-info-wrapper .account-details-section {
    padding: 30px;
  }
  main .container .account-info-wrapper .account-details-section .account-details {
    font-size: 20px;
    line-height: normal;
  }
  main .container .product-listing-wrapper .product-listing .listing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
  main .container .product-listing-wrapper .product-listing .listing-grid .product.card {
    max-width: 350px;
  }
}/*# sourceMappingURL=styles.css.map */