* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 50px;
}

header nav {
  background-color: #24305E;
}
header nav .container-fluid .navbar-brand {
  display: flex;
  align-items: center;
}
header nav .container-fluid .navbar-brand .brand-logo {
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
}

main .container .signup-block-wrapper {
  margin: 50px 0 50px 0;
}
main .container .signup-block-wrapper .signup-block {
  margin: 0 auto;
  text-align: center;
  background-color: #A8D0E6;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .container .signup-block-wrapper .signup-block .alert-danger.inactive {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
main .container .signup-block-wrapper .signup-block.login {
  width: 650px;
}
main .container .signup-block-wrapper .signup-block.login .alert {
  width: 80%;
  margin: 15px auto 15px auto;
}
main .container .signup-block-wrapper .signup-block.customer {
  width: 700px;
}
main .container .signup-block-wrapper .signup-block.vendor, main .container .signup-block-wrapper .signup-block.shipper {
  width: 750px;
}
main .container .signup-block-wrapper .signup-block.vendor .form-flex .fields-section, main .container .signup-block-wrapper .signup-block.shipper .form-flex .fields-section {
  width: 50%;
}
main .container .signup-block-wrapper .signup-block.vendor .form-flex .fields-section .form-row .form-field .dropdown select, main .container .signup-block-wrapper .signup-block.shipper .form-flex .fields-section .form-row .form-field .dropdown select {
  background-color: #FFF;
  width: 80%;
}
main .container .signup-block-wrapper .signup-block .form-title h1 {
  margin-bottom: 30px;
}
main .container .signup-block-wrapper .signup-block .form-title h2 {
  margin-bottom: 20px;
}
main .container .signup-block-wrapper .signup-block form .form-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
main .container .signup-block-wrapper .signup-block form .form-row {
  margin-bottom: 15px;
}
main .container .signup-block-wrapper .signup-block form .form-row .form-label {
  text-align: left;
  margin-left: 10%;
}
main .container .signup-block-wrapper .signup-block form .form-row .form-field .form-control {
  width: 80%;
  margin: 0 auto;
}
main .container .signup-block-wrapper .signup-block form .form-row.signin {
  margin-top: 35px;
}
main .container .signup-block-wrapper .signup-block form .form-row.upload {
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
main .container .signup-block-wrapper .signup-block form .form-row.upload .img-preview img {
  height: 150px;
  margin: 20px 0 25px 0;
}
main .container .signup-block-wrapper .signup-block form .form-row.upload .upload-options {
  display: flex;
  justify-content: space-evenly;
}
main .container .signup-block-wrapper .signup-block form .form-row.upload .upload-options .pic-upload {
  width: 70%;
}
main .container .account-info-wrapper {
  display: flex;
  margin: 50px 0 50px 0;
  justify-content: space-evenly;
}
main .container .account-info-wrapper .profile-pic-section {
  text-align: center;
  background-color: #A8D0E6;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .container .account-info-wrapper .profile-pic-section .img-preview {
  margin: 30px 0 30px 0;
}
main .container .account-info-wrapper .profile-pic-section .img-preview img {
  height: 150px;
}
main .container .account-info-wrapper .profile-pic-section .profile-options .upload-options input {
  margin-bottom: 20px;
}
main .container .account-info-wrapper .profile-pic-section .profile-options .alert {
  margin-top: 15px;
}
main .container .account-info-wrapper .profile-pic-section .profile-options .shipper {
  margin-top: 20px;
  text-align: left;
}
main .container .account-info-wrapper .account-details-section {
  width: 60%;
  background-color: #A8D0E6;
  padding: 50px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .container .account-info-wrapper .account-details-section .account-details {
  font-size: 24px;
  line-height: 200%;
}
main .container .account-info-wrapper .account-details-section.shipper {
  padding: 20px;
}
main .container .account-info-wrapper .account-details-section.shipper .title {
  text-align: center;
}
main .container .account-info-wrapper .account-details-section.shipper .active-order-listing .listing-title {
  font-size: 20px;
}
main .container .account-info-wrapper.vendor {
  display: block;
}
main .container .account-info-wrapper.vendor .profile-pic-section {
  width: 80%;
  margin: 0 auto 30px auto;
}
main .container .account-info-wrapper.vendor .profile-pic-section .img-preview img {
  height: auto;
  max-width: 80%;
  max-height: 300px;
}
main .container .account-info-wrapper.vendor .profile-pic-section .profile-options .upload-options form input {
  width: 60%;
  margin: 0 auto 30px auto;
}
main .container .account-info-wrapper.vendor .account-details-section {
  width: 80%;
  margin: 0 auto;
}
main .container .account-info-wrapper.vendor .account-details-section .title {
  margin-bottom: 30px;
}
main .container .account-info-wrapper.vendor .account-details-section .added-products {
  font-size: 18px;
  line-height: normal;
}
main .container .account-info-wrapper.vendor .account-details-section .added-products .product-card {
  text-decoration: none;
  color: #000;
}
main .container .account-info-wrapper.vendor .account-details-section .added-products .product-card .product-info {
  display: grid;
  grid-template-columns: 30% 70%;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
  margin-bottom: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
main .container .account-info-wrapper.vendor .account-details-section .added-products .product-card .product-info .prod-thumbnail {
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
}
main .container .account-info-wrapper.vendor .account-details-section .added-products .product-card .product-info .prod-thumbnail img {
  width: 100%;
  max-height: 200px;
}
main .container .account-info-wrapper.vendor .account-details-section .added-products .product-card .product-info:hover {
  background-color: #F8E9A1;
}
main .container .bg-wrapper {
  background-color: #A8D0E6;
  min-height: 90vh;
}
main .container .bg-wrapper .add-product {
  padding: 50px 0 50px 0;
}
main .container .bg-wrapper .add-product .form-title {
  text-align: center;
  margin-bottom: 30px;
}
main .container .bg-wrapper .add-product form {
  padding: 0 70px 0 70px;
}
main .container .bg-wrapper .add-product form .form-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
}
main .container .bg-wrapper .add-product form .form-flex .upload-section .upload .img-preview {
  width: 500px;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
}
main .container .bg-wrapper .add-product form .form-flex .upload-section .upload .img-preview .caption {
  font-size: 18px;
  font-weight: 500;
}
main .container .bg-wrapper .add-product form .form-flex .upload-section .upload-options {
  display: flex;
  justify-content: space-evenly;
}
main .container .bg-wrapper .add-product form .form-flex .upload-section .upload-options input {
  width: 80%;
}
main .container .bg-wrapper .add-product form .form-flex .fields-section {
  margin-left: 35px;
}
main .container .bg-wrapper .add-product form .form-flex .fields-section .form-row .form-field {
  margin-bottom: 20px;
}
main .container .bg-wrapper .add-product form .confirm {
  text-align: center;
}
main .container .bg-wrapper .add-product form .confirm button {
  min-width: 250px;
}
main .container .text-content {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}
main .container .text-content .text-title {
  margin-bottom: 15px;
}
main .container .product-listing {
  padding: 50px 0 50px 0;
}
main .container .product-listing .alert-success {
  width: 70%;
  margin: 0 auto 30px auto;
  text-align: center;
}
main .container .product-listing .listing-title {
  text-align: center;
  margin-bottom: 30px;
}
main .container .product-listing .listing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
main .container .product-listing .listing-grid .product.card {
  transition: all 0.2s ease-in-out;
  max-width: 350px;
  margin: 0 auto;
  text-decoration: none;
  color: #000;
}
main .container .product-listing .listing-grid .product.card .img-section {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}
main .container .product-listing .listing-grid .product.card .card-body .price {
  color: #F76C6C;
}
main .container .product-listing .listing-grid .product.card:hover {
  background-color: #F8E9A1;
}
main .container .product-listing .listing-grid .product.card form {
  margin-bottom: 20px;
}
main .container .product-listing .search-filter-form {
  display: grid;
  width: 80%;
  grid-template-columns: 50% 35% 10%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 0 auto 30px auto;
}
main .container .product-listing .search-filter-form .search-input input {
  min-height: 48px;
}
main .container .product-listing .search-filter-form .filter-input {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main .container .shopping-cart {
  padding: 50px 30px 20px 30px;
}
main .container .shopping-cart h1 {
  margin-bottom: 30px;
}
main .container .shopping-cart .divider {
  width: 100%;
}
main .container .shopping-cart .column-labels {
  display: grid;
  grid-template-columns: 75% 25%;
  -moz-column-gap: 15px;
       column-gap: 15px;
  text-align: center;
  margin: 0px 15px 20px 15px;
  font-size: 18px;
  font-weight: 500;
}
main .container .shopping-cart .column-labels .product-specs-labels .product-description {
  text-align: left;
}
main .container .shopping-cart .column-labels .cart-options-labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .container .shopping-cart .cart {
  padding: 10px 0 0 0;
}
main .container .shopping-cart .cart .product {
  display: grid;
  grid-template-columns: 75% 25%;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin: 0 15px 35px 15px;
}
main .container .shopping-cart .cart .product .product-specs {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
main .container .shopping-cart .cart .product .product-specs .product-image {
  width: 250px;
  height: 150px;
  overflow: hidden;
}
main .container .shopping-cart .cart .product .product-specs .product-image img {
  width: 250px;
}
main .container .shopping-cart .cart .product .product-specs .product-info {
  text-align: left;
}
main .container .shopping-cart .cart .product .product-specs .product-info .product-vendor {
  font-weight: 500;
  margin-bottom: 5px;
}
main .container .shopping-cart .cart .product .cart-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-items: center;
}
main .container .shopping-cart .cart .product .cart-options .product-line-price {
  font-weight: 500;
  font-size: 18px;
}
main .container .shopping-cart .total-sum .total-price {
  text-align: right;
  margin: 0 20px 30px 0;
}
main .container .shopping-cart .total-sum .total-price .total-value {
  font-size: 18px;
  font-weight: 500;
}
main .container .shopping-cart .place-order {
  text-align: right;
}
main .container .active-order-listing {
  margin-top: 20px;
}
main .container .active-order-listing .column-labels {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}
main .container .active-order-listing .column-labels .orders {
  text-align: left;
}
main .container .active-order-listing .column-labels, main .container .active-order-listing .order {
  display: grid;
  grid-template-columns: 40% 15% 15% 30%;
  text-align: center;
}
main .container .active-order-listing .active-orders a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #000;
}
main .container .active-order-listing .active-orders a.order {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
main .container .active-order-listing .active-orders a.order .title {
  text-align: left;
}
main .container .active-order-listing .active-orders a.order .status {
  color: green;
}
main .container .active-order-listing .active-orders a:hover {
  background-color: #F8E9A1;
}
main .container .product-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 0 50px 0;
}
main .container .product-details .img-section {
  width: 500px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
}
main .container .product-details.order {
  grid-template-columns: 35% 65%;
  padding: 50px 30px 50px 30px;
}
main .container .product-details.order .img-section {
  width: 80%;
  height: auto;
}
main .container .product-details.order .img-section img {
  width: 100%;
  margin: auto;
}
main .container .product-details.order .img-section .d-hub {
  margin-top: 1rem;
  font-weight: 500;
}
main .container .product-details.order .details-section .product-price {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
main .container .product-details.order .details-section .product-description {
  min-height: auto;
}
main .container .product-details .details-section {
  margin: 5px 35px 0px 20px;
}
main .container .product-details .details-section .divider {
  width: 100%;
}
main .container .product-details .details-section .product-title, main .container .product-details .details-section .product-vendor {
  margin-bottom: 20px;
}
main .container .product-details .details-section .product-description {
  min-height: 175px;
  margin-bottom: 25px;
}
main .container .product-details .details-section .product-options {
  margin: 30px auto 30px auto;
}
main .container .product-details .details-section .product-options button {
  display: block;
  min-width: 250px;
  margin-bottom: 15px;
}
main .container .product-details .details-section .alert-msg {
  width: 300px;
}
main .container .product-details .details-section .alert-msg .conf-msg {
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
main .container .product-details .details-section .alert-msg .conf-msg.active {
  opacity: 1;
  z-index: 1;
}
main .container .product-details .details-section .order-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 18px;
  font-weight: bold;
}
main .container .product-details .details-section .order-status-selection {
  margin-top: 30px;
}
main .container .product-details .details-section .order-status-selection label {
  font-size: 20px;
}
main .container .product-details .details-section .order-status-selection .form-field label {
  margin-right: 30px;
  cursor: pointer;
}
main .container .product-details .details-section .order-status-selection .form-field .btn {
  margin-top: 30px;
}

.divider {
  width: 80%;
  height: 20px;
  margin: 10px auto 20px auto;
  border-bottom: 1px solid #24305E;
}

.form-label label {
  font-weight: bold;
}

button.btn-form {
  background-color: #4258ad;
  color: #FFF;
}
button.btn-form:hover {
  background-color: #374785;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer-wrapper .footer-bg {
  background-color: #24305E;
}
.footer-wrapper .footer-bg .footer-content {
  padding-top: 20px;
}
.footer-wrapper .footer-bg .footer-content .copyright {
  text-align: center;
  color: #fff;
}
.footer-wrapper .footer-bg .footer-content .footer-links {
  text-align: center;
}
.footer-wrapper .footer-bg .footer-content .footer-links ul {
  list-style-type: none;
  display: inline-flex;
}
.footer-wrapper .footer-bg .footer-content .footer-links ul li {
  display: inline-flex;
  color: #fff;
  align-items: center;
}
.footer-wrapper .footer-bg .footer-content .footer-links ul li .nav-link {
  color: #fff;
}
.footer-wrapper .footer-bg .footer-content .footer-links ul li:not(:last-child):after {
  content: "|";
}

@media only screen and (max-width: 768px) {
  header nav .container-fluid .navbar-brand {
    display: block;
  }
  header nav .container-fluid .navbar-brand .brand-logo {
    margin: 0 0 5px 0;
  }
  header nav .container-fluid .navbar-brand .web-title {
    font-size: 16px;
  }
  .navbar-collapse {
    transition: all 0.3s ease-in-out;
  }
  .navbar-collapse.collapse {
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -99;
  }
  .navbar-collapse.active {
    opacity: 1;
    width: auto;
    height: 250px;
    z-index: 1;
  }
  .navbar-collapse ul.navbar-nav {
    text-align: center;
  }
  main .container .signup-block-wrapper .signup-block.login, main .container .signup-block-wrapper .signup-block.customer, main .container .signup-block-wrapper .signup-block.vendor, main .container .signup-block-wrapper .signup-block.shipper {
    width: 100%;
  }
  main .container .account-info-wrapper {
    display: block;
  }
  main .container .account-info-wrapper .account-details-section {
    width: 100%;
    padding: 30px;
  }
  main .container .account-info-wrapper .account-details-section .account-details {
    font-size: 18px;
    line-height: normal;
  }
  main .container .account-info-wrapper.vendor .profile-pic-section, main .container .account-info-wrapper.vendor .account-details-section {
    width: 100%;
  }
  main .container .account-info-wrapper.vendor .profile-pic-section .img-preview img {
    max-width: 95%;
  }
  main .container .account-info-wrapper.vendor .profile-options .account-options a {
    display: block;
  }
  main .container .account-info-wrapper.vendor .profile-options .account-options a:not(:last-child) {
    margin-bottom: 15px;
  }
  main .container .account-info-wrapper.vendor .account-details-section .added-products .product-info {
    display: block;
    font-size: 16px;
  }
  main .container .account-info-wrapper.vendor .account-details-section .added-products .product-info .prod-thumbnail img {
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 200px;
    margin: 0 auto;
  }
  main .container .bg-wrapper .product-listing .search-filter-form {
    display: block;
  }
  main .container .bg-wrapper .product-listing .search-filter-form .search-input, main .container .bg-wrapper .product-listing .search-filter-form .filter-input {
    margin-bottom: 1rem;
  }
  main .container .bg-wrapper .product-listing .search-filter-form .search-input .search {
    min-height: auto;
  }
  main .container .bg-wrapper .product-listing .search-filter-form .form-btn {
    text-align: right;
  }
  main .container .bg-wrapper .product-listing .listing-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  main .container .bg-wrapper .product-listing .listing-grid .product.card {
    max-width: 350px;
  }
  main .container .bg-wrapper .product-details {
    display: block;
    height: auto;
    padding: 50px 0 0 0;
  }
  main .container .bg-wrapper .product-details .img-section {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  main .container .bg-wrapper .product-details .img-section img {
    width: 100%;
  }
  main .container .bg-wrapper .product-details .details-section .product-options {
    text-align: center;
  }
  main .container .bg-wrapper .product-details .details-section .product-options button {
    display: block;
    margin: 0 auto 30px auto;
  }
  main .container .bg-wrapper .shopping-cart {
    padding-bottom: 50px;
  }
  main .container .bg-wrapper .shopping-cart .column-labels {
    display: none;
  }
  main .container .bg-wrapper .shopping-cart .cart .product {
    display: block;
  }
  main .container .bg-wrapper .shopping-cart .cart .product .product-specs {
    display: block;
  }
  main .container .bg-wrapper .shopping-cart .cart .product .product-specs .product-image {
    width: 100%;
    margin: 0 0 15px 0;
  }
  main .container .bg-wrapper .shopping-cart .cart .product .cart-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  main .container .bg-wrapper .shopping-cart .cart .product .cart-options .product-removal {
    margin-bottom: 0;
  }
  main .container .bg-wrapper .shopping-cart .cart .product .cart-options .product-line-price {
    text-align: center;
  }
  main .container .product-details .details-section {
    text-align: center;
  }
  main .container .product-details .details-section .product-description {
    min-height: auto;
  }
  main .container .product-details .details-section .product-options button {
    min-width: auto;
  }
  main .container .product-details.order {
    padding-bottom: 50px;
  }
  main .container .product-details.order .img-section {
    margin-bottom: 30px;
  }
  main .container .product-details.order .img-section img {
    margin: auto;
  }
  main .container .product-details.order .details-section .order-details {
    display: block;
    font-size: 16px;
  }
  main .container .product-details.order .details-section .order-status-selection .form-field label {
    display: block;
    margin-right: 0;
  }
  main .container .product-details.order .details-section .order-status-selection .form-field label:not(:last-child) {
    margin-bottom: 10px;
  }
  footer .footer-wrapper .footer-bg .footer-content {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  footer .footer-wrapper .footer-bg .footer-content .footer-links ul {
    display: block;
  }
  footer .footer-wrapper .footer-bg .footer-content .footer-links ul li {
    display: block;
  }
  footer .footer-wrapper .footer-bg .footer-content .footer-links ul li:not(:last-child):after {
    content: "";
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  main .container .account-info-wrapper .account-details-section {
    padding: 30px;
  }
  main .container .account-info-wrapper .account-details-section .account-details {
    font-size: 20px;
    line-height: normal;
  }
  main .container .bg-wrapper .product-listing .listing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
  main .container .bg-wrapper .product-listing .listing-grid .product.card {
    max-width: 350px;
  }
  main .container .bg-wrapper .product-details {
    display: block;
    height: auto;
  }
  main .container .bg-wrapper .product-details .img-section {
    width: 80%;
    height: auto;
  }
  main .container .bg-wrapper .product-details .img-section .img-file {
    display: block;
    margin: 0 auto;
  }
  main .container .bg-wrapper .product-details .details-section {
    margin-top: 30px;
    text-align: center;
  }
  main .container .bg-wrapper .product-details .details-section .product-options {
    display: flex;
    justify-content: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  main .container .product-details .details-section .product-description {
    min-height: auto;
  }
  main .container .shopping-cart .column-labels {
    display: none;
  }
  main .container .shopping-cart .cart .product .product-specs {
    display: block;
  }
  main .container .shopping-cart .cart .product .product-specs .product-image {
    width: 100%;
    margin-bottom: 15px;
  }
  main .container .shopping-cart .cart .product .cart-options {
    display: block;
    margin: auto;
  }
  main .container .shopping-cart .cart .product .cart-options .product-removal {
    margin-bottom: 15px;
  }
  main .container .shopping-cart .cart .product .cart-options .product-line-price {
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */